<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ruang</title>
</head>
<body>
    <h1>Edit Ruang</h1>
    <form th:action="@{~/ruang/update}" method="post">
        <label>Kode</label> <br>
        <input type="hidden" name="id" th:value="${data.id}">
        <input type="text" name="code" id="code" th:value="${data.code}"> <br>

        <label>Nama</label> <br>
        <input type="text" name="name" id="name" th:value="${data.name}"> <br>

        <label>Lantaike</label> <br>
        <input type="number" name="lantaiKe" id="lantaiKe" th:value="${data.lantaiKe}"> <br>

        <label>Gedung</label> <br>
        <select name="gedung.id">
            <option value=""></option>
            <option th:each="gedung : ${gedungList}" th:value="${gedung.id}"
                    th:text="${gedung.name}" th:selected="${gedung.id==data.gedungId}">
            </option>
        </select> <br>

        <button type="submit">Update</button>
    </form>
</body>
</html>