<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Gedung</title>
</head>
<body>
    <h1>Edit Gedung</h1>
    <form th:action="@{~/gedung/update}" method="post">
        <input type="hidden" name="id" th:value="${data.id}">
        <label>Code</label> <br>
        <input type="text" name="code" id="code" th:value="${data.code}"> <br>

        <label>Name</label> <br>
        <input type="text" name="name" id="name" th:value="${data.name}"> <br>

        <label>Jumlah Lantai</label> <br>
        <input type="number" name="jmlLantai" id="jmlLantai" th:value="${data.jmlLantai}"> <br>

        <button type="submit">Update</button>
    </form>
</body>
</html>