<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jurusan</title>
</head>
<body>
    <h1>Add Jurusan</h1>
    <form th:action="@{~/jurusan/save}" method="post">
        <label>Kode</label> <br>
        <input type="text" name="code" id="code"> <br>

        <label>Name</label> <br>
        <input type="text" name="name" id="name"> <br>

        <label>Fakultas</label> <br>
        <select name="fakultas.id">
            <option value=""></option>
            <option th:each="data : ${fakultasList}" th:value="${data.id}" th:text="${data.name}"></option>
        </select>

        <button type="submit">Simpan</button>
    </form>
</body>
</html>