<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Fakultas</title>
</head>
<body>
    <h1>Detail Fakultas</h1>
    <form action="#" method="post">
        <label>Kode</label> <br>
        <input readonly="readonly" type="text" name="code" id="code" th:value="${data.code}"> <br>

        <label>Nama</label> <br>
        <input readonly="readonly" type="text" name="name" id="name" th:value="${data.name}"> <br>

        <label>Alamat</label> <br>
        <textarea readonly="readonly" name="alamat" id="alamat" rows="5" cols="10" th:text="${data.alamat}"></textarea>

    </form>
</body>
</html>