<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Fakultas</title>
</head>
<body>
    <h1>Edit Fakultas</h1>
    <form th:action="@{~/fakultas/update}" method="post">
        <input type="hidden" name="id" th:value="${data.id}">
        <label>Code</label> <br>
        <input type="text" name="code" id="code" th:value="${data.code}"> <br>

        <label>Name</label> <br>
        <input type="text" name="name" id="name" th:value="${data.name}"> <br>

        <label>Alamat</label> <br>
        <textarea name="alamat" id="alamat" rows="5" cols="10" th:text="${data.alamat}"></textarea> <br>

        <button type="submit">Update</button>
    </form>
</body>
</html>