<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mahasiswa</title>
</head>
<body>
    <h1>Detail Mahasiswa</h1>
    <form th:action="@{~/mahasiswa/save}" method="post">
        <label>Name</label> <br>
        <input readonly="readonly" type="text" name="name" id="name" th:value="${data.name}"> <br>

        <label>Jenis Kelamin</label> <br>
        <input readonly="readonly" type="text" name="jk" id="jk" th:value="${data.jk}"> <br>

        <label>Alamat</label> <br>
        <input readonly="readonly" type="text" name="alamat" id="alamat" th:value="${data.alamat}"> <br>

        <label>Tempat Lahir</label> <br>
        <input readonly="readonly" type="text" name="tmpLahir" id="tmpLahir" th:value="${data.tmpLahir}"> <br>

        <label>Tanggal Lahir</label> <br>
        <input readonly="readonly" type="date" name="tglLahir" id="tglLahir" placeholder="dd-MM-yyyy" th:value="${data.tglLahir}"> <br>

        <label>Agama</label> <br>
        <input readonly="readonly" type="text" name="agama" id="agama" th:value="${data.agama}"> <br>

        <label>Jurusan</label> <br>
        <input readonly="readonly" type="text" name="jurusan" id="jurusan" th:value="${data.jurusan.name}"> <br>
    </form>
</body>
</html>